//
//variables
@import'partials/variables';

//bootstrap
@import '~bootstrap/scss/bootstrap';


header{
    height: 100px;
    background-color: white;

    .logoBreand{
        width: 70%;
        min-width: 70px;
        min-height: 70px;
    }
    nav{
        li{
            list-style: none;
            a{
                padding: 50px 0;
                text-decoration: none;
                color: $colorTextNav;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .active{
        color: $colorBreand;
        border-bottom: 5px solid $colorBreand ;
    }
}

main{
    .hero_series{
        img{
            object-fit: cover;
            object-position: top;
            height: 425px;
            width: 100%;
        }
    }
    .btn-load-more,
    .btn-series{
        background: $colorBreand;
    }
    .container-btn-series{
        transform: translateY(50%);
            a{
            text-decoration: none;
            }
    }
    .shopper{
        background-color: $colorBreand;
        img{
            width: 80px;
            height: 80px;
            object-fit: contain;
        }
    }
}


footer{
    background-image:   url(../assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    li{
        list-style: none;
        }
    a{
        text-decoration: none;
    }
    .logo-bg-breand{
        background-image:   url(../assets/img/dc-logo-bg.png);
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .footer-bottom{
        height: 100px;
        background-color: rgb(46, 46, 46);
    }
    .button-footer{
        border: 2px solid $colorBreand ;
    }
    .follow a{
        color: $colorBreand;
    }
}
 